{% extends "base.html" %}

{% block change_content %}
    <br><hr>
     <form action="{% url 'AppUnderArtSearchBooks' %}">
        {{ search_form.as_p }}
     <input type="submit" value="Buscar libro">
    </form>

    <hr><br>
    <a href="{% url "AppUnderArtCreateBook" %}">Agregar libro</a>

    <hr><br>
    {% if books %}
        {% for book in books %}
            <p> libro: {{ book.book_name }} autor: {{ book.book_author }} anio: {{ book.book_edition_year }}
                <img src="{{ book.book_image.url }}" alt="{{ book.book_name }}" style="max-width: 200px;">

                     <a href="{% url 'AppUnderArtEditBook' book.book_name %}">Editar</a>
                     <a href="{% url 'AppUnderArtDeleteBook' book.book_name %}">Eliminar</a>
            </p>
        {% endfor %}
    {% else %}
        <h1>No hay libros en el momento</h1>
    {% endif %}

{% endblock %}